<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="omp.guidance.tb" android:versionCode="111" android:versionName="1.0">
	<uses-sdk />
	<application android:icon="@drawable/ic_launcher" android:theme="@style/AppTheme" android:label="TB Clinical Guide">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyCkEBR8g8A-mmf5FEArOElW1zVqYzzppOY" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
</manifest>